@keyframes example {
	50% {background-color: red;}
}

@keyframes oneinfive {
	80%  {background-color: orange;}
	90%  {background-color: black;}
}

@keyframes oneinone {
	50%  {background-color: red;}
}

body {
	font-family: Helvetica;
}

.summaryRow {
	background-color: black;
	display: flex;
}

.summaryElement {
	text-align: center;
	color: white;
	margin: 0.5vw;
	margin-left: 2vw;
	float: left;
	flex: 1;
}

.summaryElement p {
	font-size: 1vw;
}

.summaryElement h3 {
	font-size: 2vw;
	font-weight: bold;
}

#clockdisp, #timerdisp {
	font-size: 5vw;
	line-height: 0;
}

#msgdisp {
	font-weight: normal;
}

.label {
	float: left;
}

#table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}

#table td, #table th {
	border: 1px solid grey;/*#f2f2f2;*/
	padding: 8px;
}

#table td {
	cursor: pointer;
}

#table th {
	font-weight: bold;
}

.currentRow {
	background-color: green;
	color: white;
}

#table .currentRow td:last-child {
	border-left-color: lightgrey;
}

#table .currentRow td:first-child {
	border-right-color: lightgrey;
}

#settings {
	padding-top: 30px;
}

#basher, #schedule {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#basher > div:not(:last-child), #basher > div:first-child > div:first-child {
	margin-bottom: 5px;
}

#timer-submit {
	margin-top: 5px;
}

label, button {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

p {
	margin: 0;
}
