@keyframes example {
	50% {background-color: red;}
}

@keyframes oneinfive {
	80%  {background-color: orange;}
	90%  {background-color: black;}
}

@keyframes oneinone {
	50%  {background-color: red;}
}

body {
	background-color: black;
	font-family: Helvetica;
	color: white;
}

#countdown {
	text-align: center;
	padding: 10px;

}

#countdown h1 {
	font-weight: bold;
	font-size: 24vw;
	margin: 0;
}

#stgmessage {
	text-align: center;
	padding: 20px;
}

#stgmessage p {
	font-size: 8vw;
	margin: 0;
}

#headtitle {
	text-align: center;
	padding: 20px;
	background-color: #2b7cb2;
}

#headtitle p {
	font-size: 4vw;
	margin: 0;
}

:root {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: none;
	overflow: hidden;
}
